# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pette\Documents\Java_development-ReSkill\springBoot_egenArbeid.15.03.2021\-SpringBoot1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
